html {
	box-sizing: border-box;
	font-size: 13px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

img {
	max-width: 100%;
	height: auto;
}

#control-container {
	display: flex;
  gap: 10px;
  width: 100%;
  justify-content: flex-end;
}

button {
    display: inline-block;
    border: 1px solid #0066cc;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.small-button {
  width: 30px;
  height: 30px;
  
}

#compile-button {
  width: 85px;
  height: 30px;
}


button:hover:not(:disabled) {
    border: 1px solid #0056b3;
    background-color: #0056b3;
}

button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    pointer-events: none;
}

#notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: none; /* flex */
  justify-content: center;
  align-items: center;
}

#chatbox {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  background-color: #2e2e2e;
  border: 1px solid #555;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
}

#chatbox-header {
  background-color: #3e3e3e;
  border-bottom: 1px solid #555;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-size: 16px;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#chatbox-title {
  flex-grow: 1;
  text-align: center;
}

#close-chatbox-button {
    position: absolute;
    right: 10px;
}

#chatbox-messages {
  max-height: 200px;
  overflow-y: auto;
}

#chatbox-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #555;
}

#message-input {
  width: 80%;
  flex: 1;
  padding: 5px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #3e3e3e;
  color: #fff;
}

.chatbox-buttons {
  width: 10%;
  margin-left: 10px;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  background-color: #4e4e4e;
  color: #fff;
  cursor: pointer;
}


.chatbox-buttons:hover {
  background-color: #5e5e5e;
}

.message-sender {
  font-weight: bold;
  padding-left: 5%;
  padding-top: 3%;
}

.message-content {
  padding-left: 8%;
  padding-bottom: 3%;
}

#store {
  display: none;
  position: fixed;
  top: 30%;
  right: 10px;
  width: 90%;
  background-color: #2e2e2e;
  border: 1px solid #555;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  overflow: hidden;
}

.store-buttons, #close-store-button {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  background-color: #4e4e4e;
  color: #fff;
  cursor: pointer;
}


.store-buttons:hover {
  background-color: #5e5e5e;
}

#close-store-button {
  position: absolute;
  right: 10px;
}

#store-header {
  background-color: #3e3e3e;
  border-bottom: 1px solid #555;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-size: 16px;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#store-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  overflow: auto;
  max-height: 200px;
  padding: 1px;
}

.store-element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 8px;
}

.store-element-title,
.store-element-description,
.store-element-price-button {
    width: 100%;
    margin: 5px 0;
}

.store-element-price-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#store-contents .store-element:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}

#store-contents .store-element:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}

#store-contents .store-element:nth-child(3) {
  grid-area: 2 / 1 / 3 / 2;
}

#store-contents .store-element:nth-child(4) {
  grid-area: 2 / 2 / 3 / 3;
}

#purchase-message {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 25%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  color: black;
  /* padding: 5%; */
}

#boost-message {
  display: none;
  padding: 20px;
}

#cursor {
  width: 25px;
  height: 25px;
  display: none;
  position: fixed;
  bottom: 0;
  pointer-events: none;
  transform: translateX(-50%);
  z-index: 1000;
}